
.container {
    padding: 50px;
    margin-top: 2em;   
    border-top-left-radius: 30px;
    border-bottom-right-radius: 40px;
}
form {
    border-radius: 15px;
}
form,  label{

    margin-top: 5x;
    color: white;
}

form, input {

}

